# Composer
vendor/

# Magerun Stopfile
.n98-magerun2

# Phpunit
phpunit.xml

# Build files
composer.phar
n98-magerun2.phar

# Miscellaneous (Kraut und Rueben)
.DS_Store
.idea
example-magento
clover.xml
clover
/.project
doc/**
reports/**
