application:
  check-root-user: true

twig:
  baseDirs:

plugin:
  folders:
    - /usr/local/share/n98-magerun/modules

helpers:
  composer: N98\Util\Console\Helper\ComposerHelper
  database: N98\Util\Console\Helper\DatabaseHelper
  dialog: Composer\Command\Helper\DialogHelper
  parameter: N98\Util\Console\Helper\ParameterHelper
  table: N98\Util\Console\Helper\TableHelper
  injection: N98\Util\Console\Helper\InjectionHelper

script:
  folders:
    - /usr/local/share/n98-magerun/scripts

init:
  code: admin
  type: store
  options: []

detect:
  subFolders:
    - web
    - www
    - htdocs
    - public
    - pub
    - webroot
    - web-root
    - wwwroot

event:
  subscriber:
    - N98\Magento\Application\Console\EventSubscriber\CheckRootUser
    - N98\Magento\Command\ComposerWrapper\EventSubscriber

commands:
  customCommands:
    - N98\Magento\Command\Admin\User\ListCommand
    - N98\Magento\Command\Admin\User\DeleteUserCommand
    - N98\Magento\Command\Admin\User\ChangePasswordCommand
    - N98\Magento\Command\Cache\CleanCommand
    - N98\Magento\Command\Cache\DisableCommand
    - N98\Magento\Command\Cache\EnableCommand
    - N98\Magento\Command\Cache\FlushCommand
    - N98\Magento\Command\Cache\ListCommand
    - N98\Magento\Command\Config\DeleteCommand
    - N98\Magento\Command\Config\GetCommand
    - N98\Magento\Command\Config\SetCommand
    - N98\Magento\Command\Customer\InfoCommand
    - N98\Magento\Command\Customer\ListCommand
    - N98\Magento\Command\Database\ConsoleCommand
    - N98\Magento\Command\Database\CreateCommand
    - N98\Magento\Command\Database\DropCommand
    - N98\Magento\Command\Database\DumpCommand
    - N98\Magento\Command\Database\ImportCommand
    - N98\Magento\Command\Database\InfoCommand
    - N98\Magento\Command\Database\QueryCommand
    - N98\Magento\Command\Database\VariablesCommand
    - N98\Magento\Command\Database\StatusCommand
    - N98\Magento\Command\Database\Maintain\CheckTablesCommand
    - N98\Magento\Command\Database\InfoCommand
    - N98\Magento\Command\Developer\ConsoleCommand
    - N98\Magento\Command\Developer\Module\CreateCommand
    - N98\Magento\Command\Developer\Report\CountCommand
    - N98\Magento\Command\Developer\SymlinksCommand
    - N98\Magento\Command\Developer\TemplateHintsBlocksCommand
    - N98\Magento\Command\Developer\TemplateHintsCommand
    - N98\Magento\Command\Developer\Theme\ListCommand
    - N98\Magento\Command\Eav\Attribute\ViewCommand
    - N98\Magento\Command\Generation\FlushCommand
    - N98\Magento\Command\GiftCard\Pool\GenerateCommand
    - N98\Magento\Command\GiftCard\CreateCommand
    - N98\Magento\Command\GiftCard\InfoCommand
    - N98\Magento\Command\GiftCard\RemoveCommand
    - N98\Magento\Command\OpenBrowserCommand
    - N98\Magento\Command\Script\Repository\ListCommand
    - N98\Magento\Command\Script\Repository\RunCommand
    - N98\Magento\Command\System\CheckCommand
    - N98\Magento\Command\System\Cron\HistoryCommand
    - N98\Magento\Command\System\Cron\ListCommand
    - N98\Magento\Command\System\Cron\RunCommand
    - N98\Magento\Command\System\InfoCommand
    - N98\Magento\Command\System\MaintenanceCommand
    - N98\Magento\Command\System\Setup\ChangeVersionCommand
    - N98\Magento\Command\System\Setup\CompareVersionsCommand
    - N98\Magento\Command\System\Store\ListCommand
    - N98\Magento\Command\System\Url\ListCommand
    - N98\Magento\Command\System\Store\Config\BaseUrlListCommand
    - N98\Magento\Command\System\Website\ListCommand
    - N98\Magento\Command\Indexer\ListCommand
    - N98\Magento\Command\Installer\InstallCommand
    - N98\Magento\Command\Developer\Module\ListCommand
    - N98\Magento\Command\Developer\Module\Observer\ListCommand
    - N98\Magento\Command\ScriptCommand
    - N98\Magento\Command\ShellCommand
    - N98\Magento\Command\SelfUpdateCommand

  disabled:
    - dummy

  aliases: []

  N98\Magento\Command\Database\DumpCommand:
    table-groups:
      - id: log
        description: Log tables
        tables: log_url log_url_info log_visitor log_visitor_info log_visitor_online report_event report_compared_product_index report_viewed_*

      - id: sessions
        description: Database session tables
        tables: core_session

      - id: stripped
        description: Standard definition for a stripped dump (logs, sessions)
        tables: @log @sessions

      - id: sales
        description: Sales data (orders, invoices, creditmemos etc)
        tables: sales_order* sales_recurring_* sales_refunded_* sales_payment_* enterprise_sales_* enterprise_customer_sales_* sales_bestsellers_*

      - id: customers
        description: Customer data - Should not be used without @sales
        tables: customer_address* customer_entity*

      - id: trade
        description: Current trade data (customers and orders). You usally do not want those in developer systems.
        tables: @customers @sales

      - id: development
        description: Removes logs and trade data so developers do not have to work with real customer data
        tables: @trade @stripped @search

      - id: ee_changelog
        description: Changelog tables of new indexer since EE 1.13
        tables: "*_cl"

      - id: search
        description: Search related tables
        tables: "catalogsearch_*"

      - id: idx
        description: Tables with _idx suffix
        tables: "*_idx"

  N98\Magento\Command\Installer\InstallCommand:
    magento-packages:
      - name: magento-ce-2.0.7
        package: magento/project-community-edition
        version: 2.0.7
        options:
          prefer-dist: true
          stability: alpha
          repository-url: https://repo.magento.com
      - name: magento-ce-2.0.6
        package: magento/project-community-edition
        version: 2.0.6
        options:
          prefer-dist: true
          stability: alpha
          repository-url: https://repo.magento.com
      - name: magento-ce-2.0.5
        package: magento/project-community-edition
        version: 2.0.5
        options:
          prefer-dist: true
          stability: alpha
          repository-url: https://repo.magento.com
      - name: magento-ce-2.0.4
        package: magento/project-community-edition
        version: 2.0.4
        options:
          prefer-dist: true
          stability: alpha
          repository-url: https://repo.magento.com
      - name: magento-ce-2.0.2
        package: magento/project-community-edition
        version: 2.0.2
        options:
          prefer-dist: true
          stability: beta
          repository-url: https://repo.magento.com
      - name: magento-ce-2.0.1
        package: magento/project-community-edition
        version: 2.0.1
        options:
          prefer-dist: true
          stability: beta
          repository-url: https://repo.magento.com
      - name: magento-ce-2.0.0
        package: magento/project-community-edition
        version: 2.0.0
        options:
          prefer-dist: true
          stability: beta
          repository-url: https://repo.magento.com

    installation:
      pre-check:
        php:
          extensions:
            - pdo_mysql
            - spl
            - dom
            - simplexml
            - mcrypt
            - hash
            - curl
            - iconv
            - ctype
            - gd
            - xsl
            - openssl
            - intl
            - mbstring
            - zip

      defaults:
        currency: EUR
        locale: de_DE
        timezone: Europe/Berlin
        use-secure: 0
        use-rewrites: 1
        session-save: files
        admin-user: admin
        admin-firstname: John
        admin-lastname: Doe
        admin-password: password123
        backend-frontname: admin
        admin-email: john.doe@example.com
        encryption_key:

  N98\Magento\Command\System\CheckCommand:
    checks:
      settings:
        - N98\Magento\Command\System\Check\Settings\SecureBaseUrlCheck
        - N98\Magento\Command\System\Check\Settings\UnsecureBaseUrlCheck
        - N98\Magento\Command\System\Check\Settings\SecureCookieDomainCheck
        - N98\Magento\Command\System\Check\Settings\UnsecureCookieDomainCheck
      filesystem:
        - N98\Magento\Command\System\Check\Filesystem\FoldersCheck
        - N98\Magento\Command\System\Check\Filesystem\FilesCheck
      php:
        - N98\Magento\Command\System\Check\PHP\ExtensionsCheck
        - N98\Magento\Command\System\Check\PHP\BytecodeCacheExtensionsCheck
      mysql:
        - N98\Magento\Command\System\Check\MySQL\VersionCheck
        - N98\Magento\Command\System\Check\MySQL\EnginesCheck

    filesystem:
      folders:
        pub/media: "Used for images and other media files."
        var: "Used for caching, reports, etc."
        var/cache: "Used for caching"
        var/session: "Used as file based session save"

      files:
        app/etc/env.php: "Magento local configuration."

    php:
      required-extensions:
        - simplexml
        - mcrypt
        - hash
        - gd
        - dom
        - iconv
        - curl
        - soap
        - pdo
        - pdo_mysql
        - intl
        - openssl

      bytecode-cache-extensions:
        - apc
        - eaccelerator
        - xcache
        - Zend Optimizer
        - Zend OPcache
