---
name: Docs Build Test

on:
  push:
    branches:
      - "master"
      - "develop"
      - "bugfix/*"
      - "feature/*"
      - "release/*"
    paths:
      - "docs/**"
      - ".github/workflows/docs_build_test.yml"
  pull_request_target:
    branches:
      - "master"
      - "develop"
    paths:
      - "docs/**"
  workflow_dispatch:

defaults:
  run:
    shell: bash
    working-directory: ./docs

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Create .env file
        run: |
          {
            echo "ALGOLIA_APP_ID=${{ secrets.ALGOLIA_APP_ID }}"
            echo "ALGOLIA_API_KEY=${{ secrets.ALGOLIA_API_KEY }}"
          } > .env

      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: '22'
          cache: 'npm'
          cache-dependency-path: docs/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Build documentation
        run: npm run build
