---
name: Lint Code Base

#
# Documentation:
# https://help.github.com/en/articles/workflow-syntax-for-github-actions
#

on: [push, pull_request]

###############
# Set the Job #
###############
jobs:
  build:
    # Name the Job
    name: Lint Code Base
    # Set the agent to run on
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write

    ##################
    # Load all steps #
    ##################
    steps:
      ##########################
      # Checkout the code base #
      ##########################
      - name: Checkout Code
        uses: actions/checkout@v5
        with:
          # Full git history is needed to get a proper list of changed files
          # within super-linter
          fetch-depth: 0
          persist-credentials: false

      - name: Remove files which should not be linted
        run: |
          rm -Rf tests/N98/Util/_files/sample-project/composer

      ################################
      # Run Linter against code base #
      ################################
      - name: Lint Code Base
        uses: super-linter/super-linter/slim@042027286d413b053e621bbf9b02dcf72905eebf
        env:
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_BASH: false
          VALIDATE_CSS: false
          VALIDATE_JSCPD: false
          VALIDATE_MARKDOWN: false
          VALIDATE_NATURAL_LANGUAGE: false
          VALIDATE_BIOME_FORMAT: false
          VALIDATE_BIOME_LINT: false
          VALIDATE_PHP_PHPCS: false
          VALIDATE_PHP_PHPSTAN: false
          VALIDATE_PHP_PSALM: false
          VALIDATE_CHECKOV: false
          VALIDATE_YAML_PRETTIER: false
          VALIDATE_TRIVY: false
          MARKDOWN_CONFIG_FILE: '.markdown-lint.yml'
          DEFAULT_BRANCH: 'develop'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
